input.search__mini {
    width: 38vw;
    height: 3vh;
    font-size: 2vh;
    margin : 0px 0px 0px 15px;
    background-color: transparent;
    border: none;
}

input.search {
    align-items: center;
    width: 40vw;
    height: 3vh;
    font-size: 2vh;
    background-color: transparent;
    margin-left: 0.8vw;
    margin-top: 0.1vh;
    border: none;
}

input.search:focus {
    border: none !important;
    background-color: transparent !important;
}

input.search:active {
    border: none;
    background-color: transparent;
}