/*For computers*/
@media only screen and (min-width: 786px) {
    input.search__mini {
        width: 38vw;
        height: 3vh;
        font-size: 2vh;
        margin : 0px 0px 0px 15px;
        background-color: transparent;
        border: none;
    }
    
    input.search {
        align-items: center;
        width: 40vw;
        height: 3vh;
        font-size: 2vh;
        background-color: transparent;
        margin-left: 0.8vw;
        margin-top: 0.1vh;
        border: none;
    }
}

/*for phone*/
input.search__mini {
    width: 70%;
    height: 3vh;
    font-size: 2vh;
    margin : 0px 0px 0px 5px;
    background-color: transparent;
    border: none;
}

input.search {
    align-items: center;
    width: 80%;
    height: 3vh;
    font-size: 2vh;
    background-color: transparent;
    margin-left: 0.8vw;
    margin-top: 0.1vh;
    border: none;
}

input.search:focus {
    outline: none !important;
}

input.search__mini:focus {
    outline: none !important;
}