/*For computer displays*/
@media only screen and (min-width: 786px) {
  div.search_name {
    font-size: 150%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    min-width: 1vw;
  }

  div.search_url {
    font-size: 80%;
    color: wheat;
  }

  div.search_title {
    font-weight: 450;
    margin: 0.8vw 0px 0px 0px;
    font-size: 120%;
  }

  div.search_snippet {
    flex-wrap: wrap;
    max-width: 70%;
    font-size: 80%;
  }

  div.item_container {
    margin: 0px 0px 4vh 2vw;
  }
}

/*For phone displays*/
/* @media only screen and (max-width: 786px) { */
div.search_name {
  font-size: 150%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  min-width: 1vw;
}

div.search_url {
  display:flex;
  font-size: 80%;
  color: wheat;
  width: 90%;
  flex-wrap: wrap;
}

div.search_title {
  font-weight: 450;
  margin: 0.8vw 0px 0px 0px;
  font-size: 120%;
}

div.search_snippet {
  flex-wrap: wrap;
  max-width: 90%;
  font-size: 80%;
}

div.item_container {
  margin: 0px 0px 4vh 2vw;
}
/* } */

a:link {
  color: rgb(31, 223, 223);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: palevioletred;
}

.search_url__link {
  max-width: 100%;
  word-wrap: break-word;
}

a.search_name__link:link {
  color: white;
}

a.search_url__link:link {
  color: wheat;
}

a.search_name__link:hover {
  text-decoration: none;
}

a.search_url__link:hover {
  text-decoration: none;
}

a.search_name__link:visited {
  color: white;
}

a.search_url__link:visited {
  color: wheat;
}
